<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

      <form method="POST" action="http://localhost:3000/posts/update/<%=post.id%>">
        <input type="hidden" name="_csrf" value="<%= _csrf %>">
        <label name="title">Title:</label>
        <input name="title" value="<%- post.title%>"/><br/>
        <label name="message">Message:</label>
        <input name="message" value="<%- post.message%>"/><br/>
        <label for="visibility">Visible:</label>
        <select name= "visible" id="visibility" value="<%=post.visible%>">
          <option value="true">True</option>
          <option value="false">False</option>
        </select><br/>
        <button>Submit</button>
        <button href="http://localhost:3000/posts/">Cancel</button>
      </form>
  <%- include("partials/footer.ejs") %>